/* index.css */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Ye horizontal scroll ko khatam kar dega */
  position: relative;
}

#root {
  width: 100%;
  overflow-x: hidden;
}


@import "tailwindcss";
